@model IEnumerable<AppVendasWeb.Models.ItemDaVenda>

@{
    ViewData["Title"] = "Itens da venda";
}

<h1 class="display-5 text-light my-5">Itens da Venda</h1>

<p>
    <a asp-action="Create"  asp-route-id=@ViewData["VendaId"] class="btn btn-lg btn-outline-light d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg> Adicionar
    </a>
</p>
<table class="table table-hover text-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                    <a class="text-decoration-none link-secondary"  asp-controller="ItemDaVenda" asp-action="Create" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2" bootstrap-icon="PlusLg" width="16" height="16" aria-label="Editar"></svg>
                    </a>

                    <a class="text-decoration-none link-secondary" asp-action="Edit" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2" bootstrap-icon="PencilFill" width="16" height="16" aria-label="Editar"></svg>
                    </a>

                    <a class="text-decoration-none link-secondary" asp-action="Delete" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2" bootstrap-icon="Trash" width="16" height="16" aria-label="Excluir"></svg>
                    </a>
       
                
            </td>
        </tr>
}
    </tbody>
</table>
